
body{
  font-family: 'Cabin', sans-serif;
  background-color: whitesmoke;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 20px;
}


.progress{
  background-color: lightgrey;
}
.foodcard{
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px darkgrey;
}

#container{
  margin: auto;
  padding-top: 40px;
  max-width: 960px;
  align-content: center;
}

#headline{
  background-color: red;
  width: 250px;
  padding: 5px;
  text-align: center;
  display: table;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}
#icon-attr{
  padding-left: 15%;
  padding-right: 15%;
  display: table;
  margin-right: auto;
  margin-left: auto;
}
#tagline{
  color: white;
  font-size: 28px;


}
#search-container{
  margin-bottom: 30px;
  color: black;
}
