#container{
  margin: auto;
  padding-top: 40px;
  max-width: 960px;

}

#search-container{
  margin-bottom: 30px;
  margin-left: 20px;
}

.foodcard{
  background-color: whitesmoke;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px darkgrey;
}
