#container{
  padding-top: 40px;
}

#search-container{
  padding: 30px;

}

.foodcard{
  background-color: whitesmoke;
  margin-bottom: 30px;
  background-clip: padding-box;
  border: 15px solid transparent;
}
